.tableNav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    background-color: #FFF;
    margin: 20px auto;
    width: max-content;
    border-radius: 8px;
    
    button{
        width: 60px;
        height: 100%;
        padding: 4px 16px;
        color: #3A57E8;
        background-color: #FFF;
        border: 1px solid #DEE2E6;
        outline: none;
        cursor: pointer;

        &:nth-child(1){
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: 0;
        }

        &:last-child{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-left: 0;
        }
    }
    
    .pageNumbers{
        height: 100%;
        display: flex;
        align-items: center;

        span{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 100%;
            color: #3A57E8;
            border: 1px solid #DEE2E6;
            border-right: 0;
            cursor: pointer;

            &:last-child{
                border-right: 1px solid #DEE2E6;
            }
        }
    
        .active{
            color: #FFF;
            background-color: #3A57E8;
        }
    }

}